<launch>

    <arg name="port_name" default="can0"/>
    <arg name="simulated_robot" default="false"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="base_frame" default="base_link" />
    <arg name="update_rate" default="50" />
    <arg name="odom_topic_name" default="odom" />
    <arg name="publish_odom_tf" default="false" />
    <arg name="use_encoder" default="false"/>

    <include file="$(find tracer_base)/launch/tracer_base.launch" >
        <arg name="simulated_robot" value="$(arg simulated_robot)" />

        <arg name="port_name" value="$(arg port_name)"/>
        <arg name="odom_frame" value="$(arg odom_frame)"/>
        <arg name="base_frame" value="$(arg base_frame)" />
        <arg name="update_rate" value="$(arg update_rate)" />
        <arg name="odom_topic_name" value="$(arg odom_topic_name)" />
        <arg name="publish_odom_tf" value="$(arg publish_odom_tf)" />
        <arg name="use_encoder" value="$(arg use_encoder)" />
    </include>

</launch>
